!!! xml
%rss{version: '2.0'}
  %channel
    %title= configs.title || ''
    %description= configs.description || ''
    %link= configs.baseUrl
    %lastBuildDate= lastBuild.rfc822()
    %generator typhoon
    %ttl 60
    - each article in articles
      %item
        %title= article.title()
        %description= markdown(article.body())
        %pubDate= article.date().rfc822()
        %guid= article.permalink()
        %link= article.permalink()
